<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component" label="COM_MIWOPOLLS_PARAMS_GENERAL">
		<field name="only_registered" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_ONLY_REGISTERED" description="COM_MIWOPOLLS_ONLY_REGISTERED_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>		
		<field name="one_vote_per_user" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_ONE_VOTE_PER_USER" description="COM_MIWOPOLLS_ONE_VOTE_PER_USER_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
		<field name="ip_check" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_ONE_VOTE_PER_IP" description="COM_MIWOPOLLS_ONE_VOTE_PER_IP_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
		<field name="show_component_msg" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_MSG" description="COM_MIWOPOLLS_SHOW_MSG_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
		<field name="allow_voting" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_ALLOW_VOTING" description="COM_MIWOPOLLS_ALLOW_VOTING_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
	</fieldset>
	<fieldset name="results" label="COM_MIWOPOLLS_RESULTS">
		<field name="show_what" type="list" default="1" label="COM_MIWOPOLLS_SHOW_RESULTS_AS" description="COM_MIWOPOLLS_SHOW_RESULTS_AS_DESC">
			<option value="0">COM_MIWOPOLLS_DEFAULT_WAY</option>
			<option value="1">COM_MIWOPOLLS_PIE_CHART</option>
		</field>
		<field name="show_hits" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_HITS" description="COM_MIWOPOLLS_SHOW_HITS_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>		
		<field name="show_voters" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_VOTERS" description="COM_MIWOPOLLS_SHOW_VOTERS_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
		<field name="show_times" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_TIMES" description="COM_MIWOPOLLS_SHOW_TIMES_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>		
		<field name="show_dropdown" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_DROPDOWN" description="COM_MIWOPOLLS_SHOW_DROPDOWN_DESC">
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
	</fieldset>
	<fieldset name="pie" label="COM_MIWOPOLLS_PARAMS_PIE">
		<field name="opacity" type="text" default="90" label="COM_MIWOPOLLS_PIE_TRANSPARANCY" description="COM_MIWOPOLLS_PIE_TRANSPARANCY_DESC" size="2" />
		<field name="bg_color" type="text" default="ffffff" label="COM_MIWOPOLLS_PIE_BACKGROUND_COLOR" description="COM_MIWOPOLLS_PIE_BACKGROUND_COLOR_DESC" size="6" />
		<field name="circle_color" type="text" default="505050" label="COM_MIWOPOLLS_PIE_CIRCLE_COLOR" description="COM_MIWOPOLLS_PIE_CIRCLE_COLOR_DESC" size="6" />
		<field name="pieX" type="text" default="100%" label="COM_MIWOPOLLS_PIE_WIDTH" description="COM_MIWOPOLLS_PIE_WIDTH_DESC"  />
		<field name="pieY" type="text" default="400" label="COM_MIWOPOLLS_PIE_HEIGHT" description="COM_MIWOPOLLS_PIE_HEIGHT_DESC"  />
		<field name="start_angle" type="text" default="55" label="COM_MIWOPOLLS_PIE_START_ANGLE" description="COM_MIWOPOLLS_PIE_START_ANGLE_DESC"  />
		<field name="radius" type="text" default="150" label="COM_MIWOPOLLS_PIE_RADIUS" description="COM_MIWOPOLLS_PIE_RADIUS_DESC"  />
		<field name="gradient" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_PIE_GRADIENT" description="COM_MIWOPOLLS_PIE_GRADIENT_DESC" >
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>		
		<field name="no_labels" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_PIE_SHOW_LABELS" description="COM_MIWOPOLLS_PIE_SHOW_LABELS_DESC" >
			<option value="0">MYES</option>
			<option value="1">MNO</option>
		</field>
		<field name="show_zero_votes" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_PIE_SHOW_ZERO_VOTES" description="COM_MIWOPOLLS_PIE_SHOW_ZERO_VOTES_DESC" >
			<option value="1">MYES</option>
			<option value="0">MNO</option>
		</field>
		<field name="animation_type" type="list" default="bounce" label="COM_MIWOPOLLS_PIE_ANIMATION" description="COM_MIWOPOLLS_PIE_ANIMATION_DESC" >
			<option value="bounce">COM_MIWOPOLLS_PIE_BOUNCE</option>
			<option value="fade">COM_MIWOPOLLS_PIE_FADE</option>
		</field>
		<field name="bounce_dinstance" type="text" default="30" label="COM_MIWOPOLLS_PIE_BOUNCE_DINSTANCE" description="COM_MIWOPOLLS_PIE_BOUNCE_DINSTANCE_DESC"  />
		<field name="bg_image" type="imagelist" default="0" label="COM_MIWOPOLLS_PIE_BACKGROUND_IMAGE" description="COM_MIWOPOLLS_PIE_BACKGROUND_IMAGE_DESC" directory="images/" hide_default="true" />
		<field name="bg_image_x" type="list" default="left" label="COM_MIWOPOLLS_PIE_X_POSITION" description="COM_MIWOPOLLS_PIE_X_POSITION_DESC" >
			<option value="left">COM_MIWOPOLLS_PIE_LEFT</option>
			<option value="center">COM_MIWOPOLLS_PIE_CENTER</option>
			<option value="right">COM_MIWOPOLLS_PIE_RIGHT</option>
		</field>	
		<field name="bg_image_y" type="list" default="top" label="COM_MIWOPOLLS_PIE_Y_POSITION" description="COM_MIWOPOLLS_PIE_Y_POSITION_DESC" >
			<option value="top">COM_MIWOPOLLS_PIE_TOP</option>
			<option value="middle">COM_MIWOPOLLS_PIE_MIDDLE</option>
			<option value="bottom">COM_MIWOPOLLS_PIE_BOTTOM</option>
		</field>	
		<field name="font_size" type="text" default="11" label="COM_MIWOPOLLS_PIE_FONT_SIZE_LABELS" description="COM_MIWOPOLLS_PIE_FONT_SIZE_LABELS_DESC"  />
		<field name="font_color" type="text" default="404040" label="COM_MIWOPOLLS_PIE_FONT_COLOR_LABELS" description="COM_MIWOPOLLS_PIE_FONT_COLOR_LABELS_DESC" size="6" />
		<field name="title_lenght" type="text" default="30" label="COM_MIWOPOLLS_PIE_OPTIONS_LENGHT" description="COM_MIWOPOLLS_PIE_OPTIONS_LENGHT_DESC"  />
	</fieldset>
	<fieldset name="joomla" label="COM_MIWOPOLLS_PARAMS_DEFAULT">
		<field name="chartX" type="text" default="100%" label="COM_MIWOPOLLS_CHART_WIDTH" description="COM_MIWOPOLLS_CHART_WIDTH_DESC"  />
		<field name="optionsFontSize" type="text" default="12" label="COM_MIWOPOLLS_CHART_OPTIONS_FONT_SIZE" description="COM_MIWOPOLLS_CHART_OPTIONS_FONT_SIZE_DESC"  />
		<field name="barHeight" type="text" default="15" label="COM_MIWOPOLLS_CHART_HEIGHT_OF_BARS" description="COM_MIWOPOLLS_CHART_HEIGHT_OF_BARS_DESC"  />
		<field name="barBorder" type="text" default="1px solid #000000" label="COM_MIWOPOLLS_CHART_BARBORDER" description="COM_MIWOPOLLS_CHART_BARBORDER_DESC" size="20" />
		<field name="bgBarColor" type="text" default="f5f5f5" label="COM_MIWOPOLLS_CHART_BGBARCOLOR" description="COM_MIWOPOLLS_CHART_BGBARCOLOR_DESC" size="6" />
		<field name="bgBarBorder" type="text" default="1px solid #cccccc" label="COM_MIWOPOLLS_CHART_BGBARBORDER" description="COM_MIWOPOLLS_CHART_BGBARBORDER_DESC" size="20" />
	</fieldset>
    <params>
		<param type="spacer" default="COM_MIWOPOLLS_PARAMS_GENERAL" />
		<param name="only_registered" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_ONLY_REGISTERED" description="COM_MIWOPOLLS_ONLY_REGISTERED_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>		
		<param name="one_vote_per_user" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_ONE_VOTE_PER_USER" description="COM_MIWOPOLLS_ONE_VOTE_PER_USER_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param name="ip_check" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_ONE_VOTE_PER_IP" description="COM_MIWOPOLLS_ONE_VOTE_PER_IP_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param name="show_component_msg" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_MSG" description="COM_MIWOPOLLS_SHOW_MSG_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param name="allow_voting" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_ALLOW_VOTING" description="COM_MIWOPOLLS_ALLOW_VOTING_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param type="spacer" default="COM_MIWOPOLLS_RESULTS" />
		<param name="show_what" type="list" default="1" label="COM_MIWOPOLLS_SHOW_RESULTS_AS" description="COM_MIWOPOLLS_SHOW_RESULTS_AS_DESC">
			<option value="0">COM_MIWOPOLLS_DEFAULT_WAY</option>
			<option value="1">COM_MIWOPOLLS_PIE_CHART</option>
		</param>
		<param name="show_hits" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_HITS" description="COM_MIWOPOLLS_SHOW_HITS_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>		
		<param name="show_voters" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_VOTERS" description="COM_MIWOPOLLS_SHOW_VOTERS_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param name="show_times" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_TIMES" description="COM_MIWOPOLLS_SHOW_TIMES_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>		
		<param name="show_dropdown" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_SHOW_DROPDOWN" description="COM_MIWOPOLLS_SHOW_DROPDOWN_DESC">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param type="spacer" default="COM_MIWOPOLLS_PARAMS_PIE" />
		<param name="opacity" type="text" default="90" label="COM_MIWOPOLLS_PIE_TRANSPARANCY" description="PCOM_MIWOPOLLS_PIE_TRANSPARANCY_DESC" size="2" />
		<param name="bg_color" type="text" default="ffffff" label="COM_MIWOPOLLS_PIE_BACKGROUND_COLOR" description="COM_MIWOPOLLS_PIE_BACKGROUND_COLOR_DESC" size="6" />
		<param name="circle_color" type="text" default="505050" label="COM_MIWOPOLLS_PIE_CIRCLE_COLOR" description="COM_MIWOPOLLS_PIE_CIRCLE_COLOR_DESC" size="6" />
		<param name="pieX" type="text" default="100%" label="COM_MIWOPOLLS_PIE_WIDTH" description="COM_MIWOPOLLS_PIE_WIDTH_DESC"  />
		<param name="pieY" type="text" default="400" label="COM_MIWOPOLLS_PIE_HEIGHT" description="COM_MIWOPOLLS_PIE_HEIGHT_DESC"  />
		<param name="start_angle" type="text" default="55" label="COM_MIWOPOLLS_PIE_START_ANGLE" description="COM_MIWOPOLLS_PIE_START_ANGLE_DESC"  />
		<param name="radius" type="text" default="150" label="COM_MIWOPOLLS_PIE_RADIUS" description="COM_MIWOPOLLS_PIE_RADIUS_DESC"  />
		<param name="gradient" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_PIE_GRADIENT" description="COM_MIWOPOLLS_PIE_GRADIENT_DESC" >
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>		
		<param name="no_labels" type="radio" class=" btn-group" default="0" label="COM_MIWOPOLLS_PIE_SHOW_LABELS" description="COM_MIWOPOLLS_PIE_SHOW_LABELS_DESC" >
			<option value="0">Yes</option>
			<option value="1">No</option>
		</param>
		<param name="show_zero_votes" type="radio" class=" btn-group" default="1" label="COM_MIWOPOLLS_PIE_SHOW_ZERO_VOTES" description="COM_MIWOPOLLS_PIE_SHOW_ZERO_VOTES_DESC" >
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
		<param name="animation_type" type="list" default="bounce" label="COM_MIWOPOLLS_PIE_ANIMATION" description="COM_MIWOPOLLS_PIE_ANIMATION_DESC" >
			<option value="bounce">COM_MIWOPOLLS_PIE_BOUNCE</option>
			<option value="fade">COM_MIWOPOLLS_PIE_FADE</option>
		</param>
		<param name="bounce_dinstance" type="text" default="30" label="COM_MIWOPOLLS_PIE_BOUNCE_DINSTANCE" description="COM_MIWOPOLLS_PIE_BOUNCE_DINSTANCE_DESC"  />
		<param name="bg_image" type="imagelist" default="0" label="COM_MIWOPOLLS_PIE_BACKGROUND_IMAGE" description="COM_MIWOPOLLS_PIE_BACKGROUND_IMAGE_DESC" directory="images/" hide_default ="true" />
		<param name="bg_image_x" type="list" default="left" label="COM_MIWOPOLLS_PIE_X_POSITION" description="COM_MIWOPOLLS_PIE_X_POSITION_DESC" >
			<option value="left">COM_MIWOPOLLS_PIE_LEFT</option>
			<option value="center">COM_MIWOPOLLS_PIE_CENTER</option>
			<option value="right">COM_MIWOPOLLS_PIE_RIGHT</option>
		</param>	
		<param name="bg_image_y" type="list" default="top" label="COM_MIWOPOLLS_PIE_Y_POSITION" description="COM_MIWOPOLLS_PIE_Y_POSITION_DESC" >
			<option value="top">COM_MIWOPOLLS_PIE_TOP</option>
			<option value="middle">COM_MIWOPOLLS_PIE_MIDDLE</option>
			<option value="bottom">COM_MIWOPOLLS_PIE_BOTTOM</option>
		</param>	
		<param name="font_size" type="text" default="11" label="COM_MIWOPOLLS_PIE_FONT_SIZE_LABELS" description="COM_MIWOPOLLS_PIE_FONT_SIZE_LABELS_DESC"  />
		<param name="font_color" type="text" default="404040" label="COM_MIWOPOLLS_PIE_FONT_COLOR_LABELS" description="COM_MIWOPOLLS_PIE_FONT_COLOR_LABELS_DESC" size="6" />
		<param name="title_lenght" type="text" default="30" label="COM_MIWOPOLLS_PIE_OPTIONS_LENGHT" description="COM_MIWOPOLLS_PIE_OPTIONS_LENGHT_DESC"  />
		<param type="spacer" default="COM_MIWOPOLLS_PARAMS_DEFAULT" />
		<param name="chartX" type="text" default="100%" label="COM_MIWOPOLLS_CHART_WIDTH" description="COM_MIWOPOLLS_CHART_WIDTH_DESC"  />
		<param name="optionsFontSize" type="text" default="12" label="COM_MIWOPOLLS_CHART_OPTIONS_FONT_SIZE" description="COM_MIWOPOLLS_CHART_OPTIONS_FONT_SIZE_DESC"  />
		<param name="barHeight" type="text" default="15" label="COM_MIWOPOLLS_CHART_HEIGHT_OF_BARS" description="COM_MIWOPOLLS_CHART_HEIGHT_OF_BARS_DESC"  />
		<param name="barBorder" type="text" default="1px solid #000000" label="COM_MIWOPOLLS_CHART_BARBORDER" description="COM_MIWOPOLLS_CHART_BARBORDER_DESC" size="20" />
		<param name="bgBarColor" type="text" default="f5f5f5" label="COM_MIWOPOLLS_CHART_BGBARCOLOR" description="COM_MIWOPOLLS_CHART_BGBARCOLOR_DESC" size="6" />
		<param name="bgBarBorder" type="text" default="1px solid #cccccc" label="COM_MIWOPOLLS_CHART_BGBARBORDER" description="COM_MIWOPOLLS_CHART_BGBARBORDER_DESC" size="20" />
    </params>
</config>